@import url("./theme/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}
