/* cyrillic, latin, modern browsers, only woff2, no font-display, no preloading */

/* gilroy-300 latin_cyrillic */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../assets/fonts/gilroy/Gilroy-Light.woff2") format("woff2"),
    url("../assets/fonts/gilroy/Gilroy-Light.woff") format("woff");
}

/* gilroy-regular latin_cyrillic */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/gilroy/Gilroy-Regular.woff2") format("woff2"),
    url("../assets/fonts/gilroy/Gilroy-Regular.woff") format("woff");
}

/* gilroy-500 latin_cyrillic */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../assets/fonts/gilroy/Gilroy-Medium.woff2") format("woff2"),
    url("../assets/fonts/gilroy/Gilroy-Medium.woff") format("woff");
}

/* gilroy-700 latin_cyrillic */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../assets/fonts/gilroy/Gilroy-Bold.woff2") format("woff2"),
    url("../assets/fonts/gilroy/Gilroy-Bold.woff") format("woff");
}

/* gilroy-800 latin_cyrillic */
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  src: local(""),
    url("../assets/fonts/gilroy/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../assets/fonts/gilroy/Gilroy-ExtraBold.woff") format("woff");
}

/* inter-300 - latin_cyrillic */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../assets/fonts/inter/inter-v12-latin_cyrillic-300.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/inter/inter-v12-latin_cyrillic-300.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin_cyrillic */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/inter/inter-v12-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/inter/inter-v12-latin_cyrillic-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-500 - latin_cyrillic */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../assets/fonts/inter/inter-v12-latin_cyrillic-500.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/inter/inter-v12-latin_cyrillic-500.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-600 - latin_cyrillic */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../assets/fonts/inter/inter-v12-latin_cyrillic-600.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/inter/inter-v12-latin_cyrillic-600.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin_cyrillic */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../assets/fonts/inter/inter-v12-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/inter/inter-v12-latin_cyrillic-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
